.profile__edit-button {
    background-color: #000000;
    border-style: none;
    background-image: url(../../../images/profile-edit-320.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-bottom: 0;
    transition: opacity 0.6s;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) { 
    .profile__edit-button {
        margin-bottom: 30px;
    } 
}

@media screen and (min-width: 1024px) { 
    .profile__edit-button {
        margin-bottom: 30px;
        background-image: url(../../../images/profile-edit-1280.svg);
        width: 24px;
        height: 24px;
    } 
}