.add-form__info {
    font-size: 14px;
    margin: 0 auto 30px auto;
    min-height: 27px;
    width: 238px;
    border-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    vertical-align: top;
}

.add-form__info:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) { 
    .add-form__info {
        width: 358px;
    } 
}