.profile {
    font-family: "Inter", Arial, sans-serif;
    margin: 0 19px 36px 19px;
    max-width: 100%;
    text-align: center;
}

@media screen and (min-width: 460px) { 
    .profile {
        display: flex;
        flex-direction: row;
        margin: 0 20px 36px 20px;
        align-items: center;
        text-align: start;
        justify-content: space-between;
    } 
}

@media screen and (min-width: 768px) { 
    .profile {
        margin: 0 92px 51px 92px;
    } 
}

@media screen and (min-width: 1024px) { 
    .profile {
        margin: 0 72px 51px 72px;
    } 
}

@media screen and (min-width: 1280px) { 
    .profile {
        margin: 0 200px 51px 200px;
    } 
}