.profile__role {
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: #FFFFFF; 
    margin: 14px 0 0 51px;
}

@media screen and (min-width: 460px) { 
    .profile__role { 
        margin: 16px 0 0 0;
    } 
}

@media screen and (min-width: 768px) { 
    .profile__role {
        font-size: 18px;
        line-height: 1.2;
    } 
}